In [1]:
names_list = ["sana" , "sara" , "dua"]
num_list = [ 23, 46, 33, 89]
names_list

['sana', 'sara', 'dua']

In [2]:
num_list

[23, 46, 33, 89]

In [3]:
comb_list = [names_list , num_list]
comb_list

[['sana', 'sara', 'dua'], [23, 46, 33, 89]]

In [9]:
names_list(0:2)

SyntaxError: invalid syntax (<ipython-input-9-8528df78ee94>, line 1)

In [10]:
names_list.append(15)

In [11]:
names_list

['sana', 'sara', 'dua', 15]

In [12]:
names_list.pop(1)

'sara'

In [13]:
names_list

['sana', 'dua', 15]

In [15]:
names_list.extend("farha")

In [16]:
names_list

['sana', 'dua', 15, 'f', 'a', 'r', 'h', 'a']

In [19]:
num_list.sort()

In [20]:
num_list

[23, 33, 46, 89]

min(num_list)

In [21]:
min(num_list)

23

In [23]:
max(num_list)

89

In [24]:
sum(num_list)

191

In [25]:
num_tuple = (12 , 34, 456, 56, 11.4, 34, 45)

NameError: name 'num_tuple' is not defined

In [27]:
num_tuple

NameError: name 'num_tuple' is not defined

In [28]:
even_tuple = (0,2,4,6,8,0,12)

In [29]:
even_tuple

(0, 2, 4, 6, 8, 0, 12)

In [32]:
even_tuple.count(0)

2

In [33]:
even_tuple(4)

TypeError: 'tuple' object is not callable

In [34]:
even_tuple(12)

TypeError: 'tuple' object is not callable

In [35]:
even_tuple.index(12)

6

In [36]:
tup = (12, 45,3, 12, 12, 12, 45)

In [37]:
tup.count(12)

4

In [38]:
tup.count(3)

1

In [39]:
tup.index(12)

0

In [40]:
tup.index(45)

1