In [10]:
str1 = """my name is ali. my best friend name is ahmed. we both are childhood friends. we share every thing with each other."""

In [2]:
str1[0:7]

'my name'

In [5]:
str1[-1:-2]

''

In [8]:
str1.capitalize()

'My name is ali.\nmy best friend name is ahmed \nwe both are childhood friends\nwe share every thing with each other'

In [11]:
len(str1)

114

str1.strip()

In [12]:
str1.strip()

'my name is ali. my best friend name is ahmed. we both are childhood friends. we share every thing with each other.'

In [13]:
str1.lower

In [14]:
str1.lower()

'my name is ali. my best friend name is ahmed. we both are childhood friends. we share every thing with each other.'

In [15]:
str1.upper()

'MY NAME IS ALI. MY BEST FRIEND NAME IS AHMED. WE BOTH ARE CHILDHOOD FRIENDS. WE SHARE EVERY THING WITH EACH OTHER.'

In [16]:
x = "my" in str1

In [17]:
x

True

In [18]:
y= "sara" not in str1

In [19]:
y

True

In [21]:
name = " dua "
rollnum = "18"
sent = " my name is : " + name + " and my roll number is : " + rollnum

In [22]:
sent

' my name is :  dua  and my roll number is : 18'

In [23]:
name = " Dua "
rollnum = 18
sent = " My name is " + name + "and my roll number is {}"
print(sent.format(rollnum))

 My name is  Dua and my roll number is 18